
@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #5BC35E;
$secondary: #a483ea;
$dark: #aeb4b7;

:root { 
    --offcanvas-width: 240px;
    --navbar-height: 62px;
}


.sidebarNav {
    width: var(--offcanvas-width) !important;
    background: white !important;
} 

.sidebarNav label {
  color: #444A54 !important;
  cursor: pointer;
}

nav {
    height: var(--navbar-height) !important;
}


main {
    margin-top: var(--navbar-height);
}

@media (min-width: 992px) {
    .offcanvas-backdrop{
        display: none !important;
    }
    .sidebarNav {
        transform: none !important;
        visibility: visible !important;
    }
    main {
        margin-left: var(--offcanvas-width);
    }
    nav {
        margin-left: var(--offcanvas-width);
    }
}

.offcanvas, .fixed-top  {
    z-index: 1029 !important;
}

.offcanvas-backdrop{
    z-index: 1028 !important;
}






/* SCROLL BAR */

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    /* display: none;  Ocultar scroll */
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}


